{% extends 'layout.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<!-- <h1 class="h2">Dashboard</h1> -->
<!-- <p>Your current booking was, {{ start }} to {{ dest }}!</p> -->
<p>Do Refresh the page</p>
<p> The waiting time changes as given below in Real Time </p>
<p> </p>
<p> </p>
<p>Your current booking was, {{ metro_card['start'] }} to {{ metro_card['destination'] }} !</p>
<p>Your current booking was from, FROM STATION NAME = {{
    metro_card['start']}}!</p>

<p>Your current booking times was {{ metro_card['s_time'] }} to {{ metro_card['d_time'] }}!</p>
<p>Your current booking waiting time = {{ waiting_time }}!</p>
<p>Your in line ID {{ station['line_id'] }}!</p>
<p>Your enter in metro ID = {{ metro['metro_id'] }}!</p>
<p>Your current metro card balance = {{ metro_card['balance'] }}!</p>
<p> </p>
<p> </p>
<p>Here everything is dynamic to the current time so do Refresh the page see the waiting time</p>
<p>(P.S the waiting time changes as given in Real Time)</p></p>

<body>
    <div class="loggedin">
        <div class="row main">
            <div>
                <h5>Register New user or login existing account</h5>
                <form action="{{ url_for('bookings') }}" method="post" autocomplete="off">
                    <div class="form-group">
                        <label for="name" class="cols-sm-2 control-label">Start</label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>

                                <label for="start">Choose station 1 : </label>
                                <select name="start" id="start">
                                    <option value="st_01">‎‎ ‎ ‎ CUTTACK‎ ‎ ‎ </option>
                                    <option value="st_02">‎ ‎ ‎ JABALPUR ‎ ‎ </option>
                                    <option value="st_03">‎ ‎ ‎ BHOPAL‎ ‎  </option>
                                    <option value="st_04">‎ ‎ ‎ INDORE ‎  </option>
                                    <option value="st_05">‎ ‎ ‎ BARODA ‎  </option>
                                    <option value="st_06">‎ ‎ ‎ SURAT‎ ‎  </option>
                                    <option value="st_07">‎ ‎ ‎ BANGALORE‎ ‎  </option>
                                    <option value="st_08">‎ ‎ ‎ HYDERABAD‎ ‎  </option>
                                    <option value="st_09">‎ ‎ ‎ NAGPUR‎ ‎  </option>
                                    <option value="st_10">‎ ‎ ‎ JAIPUR‎ ‎  </option>
                                    <option value="st_11">‎ ‎ ‎ GURGAON‎ ‎  </option>

                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="name" class="cols-sm-2 control-label">Destination</label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-envelope fa"
                                        aria-hidden="true"></i></span>
                                
                                    <label for="dest">Choose station 2 : </label><br>
                                
                                    <select name="dest" id="dest">
                                        <option value="st_01">‎‎ ‎ ‎ CUTTACK‎ ‎ ‎ </option>
                                    <option value="st_02">‎ ‎ ‎ JABALPUR ‎ ‎ </option>
                                    <option value="st_03">‎ ‎ ‎ BHOPAL‎ ‎  </option>
                                    <option value="st_04">‎ ‎ ‎ INDORE ‎  </option>
                                    <option value="st_05">‎ ‎ ‎ BARODA ‎  </option>
                                    <option value="st_06">‎ ‎ ‎ SURAT‎ ‎  </option>
                                    <option value="st_07">‎ ‎ ‎ BANGALORE‎ ‎  </option>
                                    <option value="st_08">‎ ‎ ‎ HYDERABAD‎ ‎  </option>
                                    <option value="st_09">‎ ‎ ‎ NAGPUR‎ ‎  </option>
                                    <option value="st_10">‎ ‎ ‎ JAIPUR‎ ‎  </option>
                                    <option value="st_11">‎ ‎ ‎ GURGAON‎ ‎  </option>


                                    </select>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="username" class="cols-sm-2 control-label">Gender</label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>

                                <p style="display:block;">Please select your Gender:

                                </p>
                                <div style="display: block;">
                                      <input type="radio" id="male" name="gender" value="M">
                                      <label for="male">Male</label><br>
                                      <input type="radio" id="female" name="gender" value="F">
                                      <label for="female">Female</label><br>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <!-- <div class="form-group">
                        <label for="password" class="cols-sm-2 control-label">Password</label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-lock fa-lg"
                                        aria-hidden="true"></i></span>
                                <input type="password" class="form-control" name="password" placeholder="Password"
                                    id="password" required placeholder="Enter your Password" />
                            </div>
                        </div>
                    </div> -->

                    <div class="form-group ">
                        {% with messages = get_flashed_messages() %}
                        {% if messages %}
                        {% for message in messages %}
                        <div class="alert alert-success alert-dismissible fade show" role="alert">
                            {{ message }}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        {% endfor %}
                        {% endif %}
                        {% endwith %}
                        <input type="submit" value="Book" class="form-control btn btn-primary " name="">


                    </div>

                </form>
            </div>
        </div>
    </div>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    Made with <span style="color: #e25555;">&#9829;</span> by <span> <a href="https://github.com/pradeepreddyvv" target="_blank">Pradeep</a></span>
    {% endblock %}